.showPassword span{
    cursor: pointer;
}

.login{
    position: relative;
}

.login_form{
    width: 45%;
    margin-bottom: 5rem;
}

.login .line{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 1px;
    background-color: rgb(221, 221, 221);
}

.login_createNew{
    width: 45%
}
.info{
    display: flex;
    margin-bottom: 3rem;
    background-color: #16b2e610;
    padding: 2rem 1rem;
    border-radius: 20px;
}

.info svg{
    width: 1.5rem;
}

@media (max-width: 991px) {
    .login_form, .login_createNew{
        width: 100%;
    }
}

@media (max-width: 600px){
    .info{
        margin-bottom: 2rem;
    }

    .info p{
        font-size: 0.95rem;
    }

}