.best_sellers{
    margin: 8rem auto 0 auto;
    padding: 5rem 2rem;
    height: 45rem;
    background-color: rgba(197, 197, 197, 0.226);
}

.best_sellers ul{
    list-style: none;
    padding: 0;
    font-size: 0.75rem;
    font-weight: bold;
}

.best_sellers li{
    display: inline-block;
    margin: 0rem;
    padding: 0;
    cursor: pointer;
}

.active{
    background-color: var(--bs-primary);
    color: var(--bs-light);
    padding: 0.6rem 1.5rem;
    border-radius: 20px;
    transition: .25s;
}

.best_sellers_products{
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.5rem;
    justify-content: start;
    align-items: start;
}


@media (max-width: 1000px) {
    .best_sellers{
        height: auto;
    }
    .best_sellers_products{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px){
    .best_sellers_products{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .best_sellers_products{
        grid-template-columns: repeat(2, 1fr);
    }
}