.btn-custom-1, .btn-custom-2{
    background-color: var(--bs-primary);
    color: #fff;
    border-radius: 50px;
    padding: 0.8rem 1.6rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.btn-custom-2{
    background-color: var(--bs-dark);
}

.btn-custom-1::before, .btn-custom-2::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: inherit;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    z-index: -2;
    transition: 0.4s;
}

.btn-custom-1:hover::before, .btn-custom-2:hover::before{
    opacity: 0;
    transform: scale(1.3);
}

.btn-custom-1:hover, .btn-custom-2:hover{
    color: #fff;
}

.btn-custom-3{
    padding: 0.5rem 2.5rem;
    text-align: center;
    display: inline-block;
    border: 2px solid #fff;
    text-decoration: none;
    color: var(--bs-light);
    position: relative;
    z-index: 5;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
.btn-custom-3:hover{
    color: var(--bs-dark);
}
.btn-custom-3::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: scale(0);
    transition: .25s;
    z-index: -1;
}

.btn-custom-3:hover::before{
    transform: scale(1);
}

.btn-custom-4{
    background-color: var(--bs-primary);
    color: #fff;
    padding: 1.1rem 3rem;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-custom-4:hover{
    color: #fff;
    opacity: 0.8;
}