.product{
    background-color: #fff;
    padding: 1rem 1rem 0.5rem 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;
    overflow: hidden;
    position: relative;
}

.product_details{
    width: 60%;
}

.product::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgba(235, 235, 235, 0.233);
    transition: .5s;
}

.product:hover::after{
    height: 100%;
}

.img{
    position: relative;
    width: 7rem;
    height: 7rem;
    transition: .3s;
    align-self: center;
}

.title{
    margin-top: 1rem;
    margin-bottom: 0;
    width: 100%;
    font-size: 0.9rem;
    color: var(--bs-primary);
    font-weight: bold;
    text-transform: capitalize;
    z-index: 2;
    position: relative;
}

.rating{
    color: var(--bs-warning);
}

.rating svg {
    width: 0.9rem;
}

.amount{
    font-size: 0.9rem;
}

.sold{
    font-size: 0.85rem;
    opacity: 0.7;
    font-weight: bold;
    margin-top: 0.2rem;
}

.product a{
    width: 100%;
    text-align: center;
    margin-top: 1.5rem;
    margin-bottom: -5rem;
    transition: all .35s;
    animation-name: moveUp;
    animation-duration: .5s;
}


.product:hover a{
    margin-bottom: 0;
}

.heart{
    width: 2rem;
    height: 2rem;
    padding: 0.9rem;
    border-radius: 100%;
    color: var(--bs-primary);
    position: absolute;
    top: 40%;
    right: 2rem;
    cursor: pointer;
    z-index: 2;
    animation-name: moveUp;
    animation-duration: .5s;
    display: none;
    transition: .25s;
}

.heart:hover{
    background-color: var(--bs-primary);
    color: #fff;
}

.heart svg{
    width: 1.2rem;
    transform: translate(-44%, -55%);
}

.product:hover .heart{
    display: block;
}


@keyframes moveUp {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0%);
    }
}

