.cart{
    width: 22rem;
    background-color: #fff;
    box-shadow: 2px 4px 11px rgb(121, 118, 118);
    
}

.header{
    background-color: rgba(197, 197, 197, 0.226);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header p{
    padding: 0;
    margin: 0;
}

.header a{
    cursor: pointer;
    font-weight: bold;
}

.body{
    position: relative;
    height: 90%;
    width: 100%;
}

.products{
    height: 70%;
    overflow-y: scroll;
}

.empty{
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.empty a{
    display: inline;
    margin: auto;
    text-align: center;
}
.empty_cart svg{
    width: 4rem;
    font-size: 2rem;
    color: var(--bs-danger);
}
.img{
    position: relative;
    height: 5rem;
    width: 5rem;
}

.product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid rgba(99, 99, 99, 0.267);
}
.product .info{
    font-size: 0.9rem;
    padding: 0 1rem 0 0.5rem;
    width: 70%;
}
.product small{
    font-size: 1rem;
}
.delete{
    font-weight: bold;
    cursor: pointer;
}

.summary{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    background-color: #fff;
}


@keyframes slideRight {
    from{
        transform: translateX(100%);
    }
    to{
        transform: translateX(0%);
    }
}