@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&family=Raleway:wght@400;500;800&family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');
:root{
  --bg-color: #f3f5f6;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family:"Rubik",-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.children{
  margin-top: 5rem;
}

::-webkit-scrollbar{
  width: .4rem;
  
}
::-webkit-scrollbar-thumb{
  background: var(--bs-dark);
  border-radius: 10px;
}

::-webkit-scrollbar-track{
  background-color: var(--bs-light);
}

::selection{
  background: var(--bs-primary);
  color: var(--bs-light);
}

.info{
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.644);
}

.line{
  position: relative;
  display: block;
  background-color: var(--bs-primary);
  margin: 1rem 0rem;
  height: 1px;
  width: 3rem;
  transform: translateX(1rem);
}

.line::before{
  content: "";
  background-color: var(--bs-primary);
  width: 10%;
  height: 1px;
  position: absolute;
  top: 0rem;
  left: -1rem;
}

.orbitron{
  font-family: "Orbitron",Arial, Helvetica, sans-serif;
}

.logo{
  font-weight: 500;
  letter-spacing: 6px;
  font-size: 1.8rem;
  font-family: "Rubik Glitch",Arial, Helvetica, sans-serif;
}

.logo span{
  color: var(--bs-primary);
}

.img{
  position: relative;
  width: 70%;
  height: 27rem;
}

.img2{
  position: relative;
  width: 70%;
  height: 20rem;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.carousel-control-prev-icon{
  transform: translateX(-2rem);
}

.center-y{
  top: 50%;
}


@media (max-width: 900px) {
  .img, .img2{
    width: 100%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
  }
}
