.home_hero {
  
}
.home_hero span{
  color: var(--bs-primary);
  font-weight: 500;
}
.home_hero small{
  color: var(--bs-primary);
  font-size: 1.2rem;
}

.home_hero > .hero-item-img{
  position: relative;
  width: 100%;
  height: 100%;
}