.product{
    background-color: rgba(197, 197, 197, 0.226);
    padding-top: 5rem;
    padding-bottom: 4rem;
}


.img{
    width: 30rem;
    height: 25rem;
    padding: 1rem;
    box-shadow: -3px -3px 15px rgb(253, 253, 253), 3px 3px 15px rgba(202, 198, 198, 0.411);
}



.img:hover{
    box-shadow: inset -3px -3px 10px rgb(253, 253, 253), inset 3px 3px 15px rgba(202, 198, 198, 0.411);
}

.img span span{
    display: none !important;
}

.img span{
    width: 100% !important;
    height: 100% !important;
}

.details{
    width: 60%;
}

.rating{
    color: var(--bs-warning);
}

.rating svg {
    width: 0.9rem;
}

.hr{
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 0.082);
    margin: 1rem 0;
}

.add{
    display: flex;
    
    align-items: center;
}

.add span{
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.295);
}

.add a{
    position: relative;
    z-index: 1;
}

.add a:hover{
    transform: translateY(10%);
    transition: .3s;
}
.add a:hover::after{
    top: 0;
    left: 0;
}
.add a::after{
    content: "";
    position: absolute;
    transition: .3s;
    top: 20%;
    left: 1.3%;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    z-index: -1;
    background-color: #0091c160;
}

.wishlist span svg{
    width: 1rem;
    color: #0091c1d0;
    margin-bottom: 0.3rem;
    margin-right: 0.2rem;
}

.wishlist small{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.616);
}

.wishlist small:hover{
    color: var(--bs-primary);
}

@media (max-width: 900px){
    .details{
        width: 70%;
        padding: 0 1rem;
    }
}

@media (max-width: 600px) {
    .details{
        width: 100%;
        padding: 1rem 2rem;
    }

    .img{
        width: 20rem;
        height: 22rem;
        margin: 2rem auto 0 auto;
    }
}